<h1> About this app </h1>


<h2> Tools and Technologies used: </h2>

<ul style="text-align:left;	">
	<li> Package Management :
		<ul>
			<li> bower</li>
				<ul>
					<li> bootstrap-material-design <p> Though a simple style sheet could have done but intention was to make use of bower</p></li>
					<li> angular and angular-route <p> ng-route was provided by angular-route. </p> </li> 
				</ul>

			<li> npm
				<ul>
					<li> express-JS <p> Here, it's working as a static file server</p>	</li>
				</ul>
			 </li>
		</ul>
	</li>
	<li> Angular (ng-route) 
		<p> To create SPA angular.js MVC framework was chosen with `ng-route` to handle routing </p>
	</li>
</ul>