<div ng-controller="UploadCtrl">
  <div  file-dropzone="[image/png, image/jpeg, image/gif]" 
  		 uploaded-files="storedFiles" max-file-size="13" dropzone-hover-class="toggleEnter"
  		class="dropzone">
  		<span>Drop Image Here</span> 
   </div>

  <table>
    <tr  ng-repeat="curFile in storedFiles">
  	  <td style="font:12px;">  {{ curFile.name}}  </td>
      <td class="image-container"> <img ng-src="{{curFile.image}}" /> </td>
      <td> <div style="width:400px; height:30px; overflow:auto;"> {{curFile.base64}} </div></td>
    </tr>
  </table>
  <a ng-href="#base64"> see encoded </a>
</div>